<h1>New Group</h1>
<div style="text-align: center;margin-top: 10px">
  <input id="new_group_input_field"/>
  <button id="new_group" phx-hook="create_new_group" style="margin-top: 10px">Create</button>
</div>